*{
    margin: 0;
    padding: 0;

}
body{
    text-align: center;
 }
header{
    background-color: brown;
    height: 200px;
}
main{
    background-color: dimgray;
    height: 1500px;
}
footer{
   display: flex;
   height: 450px;
   color: white ;
   background-color: black;
}
.menu{
   background-color: aliceblue;
   padding: 15px;
}
.menu a{
   text-decoration: none;
   font-size: larger;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   transition: 0.9s;
   padding: 5px;
}

 .menu a:hover{
    color: black;
    text-decoration: underline;
    background-color: darkred;
    border-radius: 10px;
 }
 .card{
    /* border: red solid 2px; */
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 300px;
    margin: 15px;display: flex;
    padding: 5px;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
 }
 .card:hover{
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
 .botao{
    border: 2px red;
    border-radius: 5px;
    width: 200px;
    color: red;
    font-size: large;
    
 }
 .games{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .botao:hover{
    color: white;
    background-color: red;
 }
 
 .menu li{
    display: inline;
    padding: 25px;
 }
 .logo{
    width: 210px;
    border-radius: 25%;
    padding: 15px;
    margin-top: -77px;
 }
 .produtocard{
    width: 310px;
    height: 200px;
 }
 .carrinho{
   display: flex;
   margin-left: 1850px;
   width: 55px;
   position: relative;
   margin-top: -175px;
}
.titulo{
   position: relative;
   margin-top: -20px;
   color: white;
   font-family: 'Times New Roman', Times, serif;
}
.options{
   display: flex;
   position: relative;
   width: 55px;
   padding: 8px;
}
.gov{
   padding: 25px;
   width: 150px;
}
.govv{
   width: 350px;
}
.informacoes{
   padding: 55px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   text-align: start;
}
.instagran{
   width: 100px;
   padding: 25px;
}
.insta{
   width: 75px;
}
.instouto a{
   text-decoration: none;
}